.heart {
    color: pink;
}

.frown {
    font-size: 120% !important;
}

.my-face {
    border-radius: 50%;
}

.transition {
    -o-transition:      .25s;
    -ms-transition:     .25s;
    -moz-transition:    .25s;
    -webkit-transition: .25s;
    transition:         .25s;
}

.social-icon {
    color:         #eeeeee;
    padding:       6px;
    border:        3px solid;
    border-radius: 50%;
}

.form-icon {
    color:         #bdbdbd;
}

.social-icon:hover {
    color: #bdbdbd;
}

.resume:hover {
    color: #e65100  !important;
}

/*
*   Sticky footer stuff
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}